<div class="panel-heading">
  <div class="panel-title clearfix">
    <span class="title">{{comments.length}} comments</span>
    {{!-- {{#link-to 'comments.new' idea class='new-button btn btn-primary clearfix pull-right'}}new{{/link-to}} --}}
    <a href="#" class='new-button btn btn-primary clearfix pull-right' {{action 'toggleCommenting'}}>new</a>
  </div>
</div>

<ul class="list-group">
  {{#each comments as |comment|}}
    {{comment-row comment=comment deleteComment='deleteComment'}}
  {{/each}}
</ul>

{{#if isCommenting}}
  {{comment-form comment=newComment}}
{{/if}}
