nav li a img.profile-thumb {
  max-width: 25px;
  max-height: 25px;
}

.ideas .idea .score {
  /*display: inline-block;*/
  /*float: left;*/
  /*width: 10%;*/
  font-size: 3em;
}

.ideas .idea .author {
  /*float: right;*/
}

.ideas .idea .author img {
  max-width: 50px;
  max-height: 50px;
}

.ideas .idea .idea-contents {
  /*float: left;*/
}

.ideas .idea .idea-contents h2 {
  margin-top: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
