nav li a img.profile-thumb {
  max-width: 25px;
  max-height: 25px;
}

.delete-link {
  color: red;
}

.ideas {
  .idea {
    &.has-voted .score a {
      color: orange;
    }

    .score {
      text-align: center;
      font-size: 3em;
      font-weight: bold;
      line-height: 40px;
    }

    .idea-contents h2 {
      margin-top: 0;
    }

    .author {
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    .actions {
      padding-top: 10px;
      font-size: 1.2em;

      .delete-link {
        padding-left: 10px;
      }
    }
  }
}

.comments {
  .title {
    line-height: 2em;
  }

  .new-button {
    color: white;
  }

  .delete-link {
    float: right;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
