nav li a img.profile-thumb {
  max-width: 25px;
  max-height: 25px;
}

.ideas .idea .score {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  line-height: 40px;
}

.ideas .idea.has-voted .score a {
  color: orange;
}

.ideas .idea .author img {
  max-width: 50px;
  max-height: 50px;
}

.ideas .idea .idea-contents h2 {
  margin-top: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
