nav li a img.profile-thumb {
  max-width: 25px;
  max-height: 25px;
}

.ideas {
  .idea {
    &.has-voted .score a {
      color: orange;
    }

    .score {
      text-align: center;
      font-size: 3em;
      font-weight: bold;
      line-height: 40px;
    }

    .idea-contents h2 {
      margin-top: 0;
    }

    .author {
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    .actions {
      padding-top: 10px;

      .delete-link {
        color: red;
        font-size: 1.2em;
      }
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
