<section class="ideas">
  <div class="wrapper">
    <h1>
      Ideas

      {{link-to 'new' 'ideas.new' class='btn btn-primary pull-right'}}
    </h1>

    {{#each model.sortedIdeas as |idea|}}
      {{idea-row idea=idea
          removeVote='removeVote'
          voteUp='voteUp'
          editIdea='editIdea'
          deleteIdea='deleteIdea'
          currentUser=currentUser}}
    {{/each}}
  </div>
</section>

{{outlet}}
