<section class="ideas">
  <div class="wrapper">
    <h1>
      Ideas

      {{link-to 'new' 'ideas.new' class='btn btn-primary pull-right'}}
    </h1>

    {{#each controller as |idea|}}
      {{idea-row idea=idea voteUp='voteUp'}}
    {{/each}}
  </div>
</section>

{{outlet}}
